<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<body>
<h1>Post Detail</h1>
{% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endif %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<h3>likes</h3>
<p>{{ likes }}</p>
<h3>dislikes</h3>
<p>{{ dislikes }}</p>
<h2>Tags</h2>
<ul>
    {% for tag in tags %}
        <li>{{ tag.name }}</li>
    {% endfor %}
</ul>
<p><a href="{% url 'posts:post_update' post.id %}">Edit Post</a></p>
<p>
    {#{% if reactions %}#}
    {#    {% for reaction in reactions %}#}
    {#        {{ reaction }}#}
    {#    {% endfor %}#}
    {#{% endif %}#}
</p>
<h3>likes</h3>
<form action="{% url 'posts:add_reaction' post.id %}" method="post">
    {% csrf_token %}
    {{ reaction_form.as_p }}
    <button type="submit">submit</button>
</form>
{% for image in post.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.alt }}">
{% endfor %}
<h2>comments</h2>
<ul>
    {% for comment in comments %}
        <li>{{ comment.content }} - {{ comment.user }}</li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'posts:add_comment' post.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">submit</button>
</form>
</body>
</html>